@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
		@apply h-full bg-gray-300;
	}
}

@layer components {
	.default-content-width {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}

	/* navbars */
	nav {
		@apply text-white;
	}

	nav a {
		@apply hover:text-gray-400;
	}

	nav:first-of-type {
		@apply bg-gray-800;
	}

	nav:nth-of-type(2) {
		@apply bg-gray-600;
	}

	nav > div {
		@apply default-content-width flex items-center justify-between h-8;
	}

	/* main content */
	main {
		@apply default-content-width mt-8 flex flex-col items-center;
	}

	main > h1 {
		@apply font-medium text-xl;
	}

	/* buttons */
	.button {
		@apply p-4 text-white rounded-md shadow-md;
	}

	.green-button {
		@apply button bg-green-600;
	}

	.green-button:hover {
		@apply bg-green-700;
	}
}
